/*
 * Color
 */

// Couleurs principales
$primaryBackgroundColor: #333333;
$secondBackgroundColor: #555555;
$thirdBackgroundColor: #677179;

$defaultTextColor: #000000;
$primaryTextColor: #FFFFFF;
$primaryTitleColor: #866c66;

// Erreurs
$errorColor: #ee1225;

// Focus Input
$focusInput: #866c66;
