/*
 * Import
 */
@import 'app/styles/color.scss';


/*
 * ID
 */
#footer {
  background: $primaryBackgroundColor;
  color: $primaryTextColor;
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
  padding: 1em 0.5em 0.5em 0.5em;
  width: 100%;
  &-container {
    display: flex;
    flex-direction: column;
    a {
      color: $primaryTextColor;
    }
  }
  &-copyright {
    display: flex;
    font-size: 0.75em;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    padding-top: 2em;
  }
}


/*
 * ClassName
 */


/*
 * Media Queries
 */
@media all and (min-width: 768px) {
  #footer-container {
    flex-direction: row;
    justify-content: space-between;
  }

  #footer-copyright {
    flex-direction: row;
    justify-content: center;
  }

  .footer-copyright-text {
    padding-top: 1em;
    &::after {
      content: '•';
      padding: 0 1em;
    }
    &:last-child {
      &::after {
        content: '';
      }
    }
  }
}

@media all and (min-width: 960px) {
  #footer-container {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 0.5em;
  }
}
